<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<title></title>
		<!-- CSS and JS are imported directly in component & page classes -->
	</head>

<!-- Page Body -->
	<body>
		
		<div id="mainContainer" class="container" th:fragment="header">
			<h3><a href="#">Sequoia Admin</a></h3>	
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    
			    
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
			    
			    
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="index">Dashboard<span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Manager <span class="caret"></span></a>
					  	<ul class="dropdown-menu">
					    	<li><a href="/user/add">Add New User</a></li>
					    	<li><a href="/user/list">User List</a></li>
					  	</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company Manager <span class="caret"></span></a>
					  	<ul class="dropdown-menu">
					    	<li><a href="users">Create Company</a></li>
					    	<li><a href="users">List Companies</a></li>
					  	</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Document Manager <span class="caret"></span></a>
					  	<ul class="dropdown-menu">
					    	<li><a href="users">Create Document</a></li>
					    	<li><a href="users">List Documents</a></li>
					  	</ul>
					</li>
			      </ul>
			      <!-- SEARCH FORM
			      <form class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search"/>
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			      </form>
			      -->
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			
			<t:body/>
		</div>
	</body>
</html>